<% include template/header.ejs %>

	<div id="content">
		<h1><%= title %></h1>

	<p>Welcome home <%= current_user.username %>!</p>


		<form method="POST" action="/submitNewPost">
					
			<textarea id="postTextField" type="text" name="postTextField" placeholder="Compose a new post..."></textarea>
			Like
			<input id="like" type="checkbox" name="like" /><br>
			<input id="submitButton" type="submit" value="Post" name="submitButton" class="btn" />
			

			<div id="users-post-area">
				<p> <%= current_user.username %>'s Posts</p>  
					<% Post.reverse().forEach(function(post){ %>
						<div class= "post-container">
							<table>
								<tr>
									<td><img src="/images/User-icon-scaled.png"></img></td>
									<td><p class="post_message"><%= post.message%></p><br></td>
								</tr>
							</table>
							<span> <%= post.user  %> </span>
						</div>
					<% }) %>
			</div>

		</form>
	</div>
<% include template/footer.ejs %>
