<% include template/header.ejs %>
<% include template/flash.ejs %>
<link rel="stylesheet" href="/stylesheets/home.css" />

	<div id="content">
		<h1><%= title %></h1>

		<p>Welcome, <%= current_user.username %>!</p>


		<form method="POST" action="/submitNewPost">
					
			<textarea id="postTextField" type="text" name="postTextField" placeholder="Compose a new post..."></textarea>
			Like
			<input id="like" type="checkbox" name="like" /><br>
			<input id="submitButton" type="submit" value="Post" name="submitButton" class="btn" />
			<br><br>

			<div id="users-post-area">
				<p> <%= current_user.username %>'s Posts</p>
					<% posts.reverse().forEach(function(post){ %>
						<div class= "post-container">
							<table>
								<tr>
									<td><img src="/images/User-icon-scaled.png"></img></td>
									<td style= "background:white; width: 420px;"><p class="post_message"><%= post.content %></p><br></td>
								</tr>
							</table>
							<span><%= post.username %></span>
						</div>
					<% }) %>
			</div>

		</form>
	</div>
<% include template/footer.ejs %>
