<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p>
			<h3>For testing purposes:</h3>
			<% routes.forEach(function(elem) { %>
			<a href='<%= elem.path %>'><%= elem.path %></a><br>
			<% }); %>
		</p>
	</body>
</html>