<% include template/header.ejs %>
<!-- Danton Added Script Tag-->
<script type="text/javascript" src="/javascripts/profile.js"></script>
<script>
	var pageUser = "<%=user.username%>";
</script>

<% var fullname = user.firstname+" "+user.lastname; %>
<h1><%= fullname %></h1>

<%if(current_user.username == user.username){%>
<p>My profile page!</p>
<%}else{%>
<p><%= fullname %>'s profile page!</p>
<%}%>

<%if(current_user.username != user.username){%>
	<%if(is_following){%>
		<input id="toggle-follow" type="button" value="Unfollow" name="unfollow" class="btn" />
		<a id="chat-link" href="/chat?with=<%= user.username %>">chat</a><br>
	<%}else{%>
		<input id="toggle-follow" type="button" value="Follow" name="follow" class="btn" />
		<a id="chat-link" href="/chat?with=<%= user.username %>">chat</a><br>
	<%}%>
<%}%>

<a href="/<%= user.username %>/followers">followers</a> ~ <a href="/<%= user.username %>/following">following</a>

<% include template/footer.ejs %>
