<% include template/header.ejs %>
<% var fullname = user.firstname+" "+user.lastname; %>
<h1><%= fullname %></h1>

<%if(current_user.username == user.username){%>
<p>My profile page!</p>
<%}else{%>
<p><%= fullname %>'s profile page!</p>
<%}%>

<%if(current_user.username != user.username){%>
	<form method="POST" action="/toggleFollow">
		<%if(is_following){%>
			<input id="toggle_follow" type="submit" value="Unfollow" name="toggle_unfollow" class="btn" />
		<%}else{%>
			<input id="toggle_follow" type="submit" value="Follow" name="toggle_follow" class="btn" />
		<%}%>
		<input id="toggle_follow_user" type="hidden" value="<%=user.username%>" name="toggle_follow_user" class="btn" />
	</form>
<%}%>

<a href="/<%= user.username %>/followers">followers</a> ~ <a href="/<%= user.username %>/following">following</a>

<% include template/footer.ejs %>
