<% include template/header.ejs %>
<% include template/flash.ejs %>

<link rel="stylesheet" href="/stylesheets/profile.css" />
<!-- Danton Added Script Tag-->
<script type="text/javascript" src="/javascripts/profile.js"></script>
<script>
	var pageUser = "<%=user.username%>";
</script>

<% var fullname = user.firstname+" "+user.lastname; %>
<%- helpers.profile_picture(user.email, 120) %>
<h1><%= fullname %></h1>

<% if(current_user){ %>
	<!-- Follow/Unfollow and chat buttons -->
	<%if(current_user.username != user.username){%>
		<%if(is_following){%>
			<input id="toggle-follow" type="button" value="Unfollow" name="unfollow" class="btn unfollowButton" />
			<a id="chat-link" href="/chat?with=<%= user.username %>">chat</a><br>
		<%}else{%>
			<input id="toggle-follow" type="button" value="Follow" name="follow" class="btn followButton" />
			<a id="chat-link" href="/chat?with=<%= user.username %>">chat</a><br>
		<%}%>
		<br>
	<%}%>
<%}%>

<a href="/<%= user.username %>/followers">followers</a> ~ <a href="/<%= user.username %>/following">following</a>
<br><br>
<% include template/post_list.ejs %>

<% include template/footer.ejs %>
