<!DOCTYPE html>
<html>
	
	<head>
		<title><%= title %></title>

		<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/signup.css" />

		<script type="text/javascript" src="/lib/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/signup.js"></script>
	</head>
	<% include template/flash.ejs %>
	<body>
		<div id="sticky-bar">
			<h4>Welcome to SmallTalk!</h4>
		</div>
		<div id="container">
			<h1><%= title %></h1>
			<p>Welcome to SmallTalk.</p>
			
			<form method="POST" action="/addNewUser">
				<input id="firstname" type="text" name="firstname" placeholder="First" value="<%= ((message.newUser !== undefined ) ? message.newUser[0].$firstname : '' )%>"/>

				<input id="lastname" type="text" name="lastname" placeholder="Last" value="<%= ((message.newUser !== undefined ) ? message.newUser[0].$lastname : '' )%>"/><br>

				<input id="username" type="text" name="username" placeholder="Username" value="<%= ((message.newUser !== undefined ) ? message.newUser[0].$username : '' )%>"/><br>

				<input id="email" type="email" name="email" placeholder="Email" value="<%= ((message.newUser !== undefined ) ? message.newUser[0].$email : '' )%>" /><br>

				<input id="password" type="password" name="password" placeholder="Password" /><br>

				<input id="validatePass" type="password" placeholder="Confirm Password" /><i id="ok" class="icon-ok" style="display: none;"></i><br>

				<input id="submitButton" type="submit" value="Submit" name="submitButton" class="btn" />
			</form>
		</div>
	</body>
</html>