<!DOCTYPE html>
<html>
<head>
	<%
		this.title = undefined;
		this.javascript = undefined;
		this.stylesheet = undefined;
	%>
	<title><%= title || "SmallTalk" %></title>
	<link rel="stylesheet" href="/lib/normalize.css" />
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/post.css" />
	<% if(stylesheet){ %>
	<link rel="stylesheet" href="/stylesheets/<%= stylesheet %>" />
	<% } %>
	<script type="text/javascript" src="/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/lib/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/handlebars-1.0.rc.1.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/jQueryInstantSearch.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<% if(javascript){ %>
	<script type="text/javascript" src="/javascripts/<%= javascript %>"></script>
	<% } %>
</head>
<body>

<div id="sticky-bar">
	<div id="home-link" class="wide-overflow">&nbsp;Welcome to <a href="/" style="color: rgb(51, 51, 51);"><strong>SmallTalk</strong></a></div>
	<!-- <div id="home-link-a" class="wide-overflow">Just a test</div> -->

	<div id="bar-inner">

		<form method="GET" action="/search" autocomplete="off" class="form-search" style="display: inline;">
			<div class="input-append">
				<input type="text" id="global-search-box" class="span2 search-query text-input-small" data-provide="typeahead" placeholder="Find people, hashtags, and languages">
				<a id="clear-button" type="hidden"><i id="clear-box-x" class="icon-remove-sign"></i></a>
				<button type="submit" class="btn btn-small"><i class="icon-search"></i></button>
			</div>
		</form>
		<div id="search-results"></div>

		<!-- Notifications and Settings buttons -->
		<div id="gear-menu" class="btn-group pull-right">
			<% if(notifications.length > 0){ %>
			<a id="notification-button" class="btn btn-mini btn-danger" data-toggle="tooltip">!!!</a>
			<% } else { %>
			<a id="notification-button" class="btn btn-mini" data-toggle="tooltip" title="0">!!!</a>
			<% } %>
			<a id="settings-button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
			<ul class="dropdown-menu arrow-right">
				<li><a tabindex="-1" href="/settings">Settings</a></li>
				<li><a tabindex="-1" href="/help">Get Help</a></li>
				<li><a tabindex="-1" href="/shorty">Meet Shorty</a></li>
				<li><a id="signout" tabindex="-1" href="/signout">Sign Out</a></li>
			</ul>
		</div>
	</div>

	<% if(current_user){%>
	<span id="profile-link" class="wide-overflow pull-right" style="margin-top:-30px; margin-right:36px;"><a href="/<%= current_user.username %>/profile" style="color:black;">profile</a></span>
	<span class="pull-right" style="margin-top:-32px;"><a href="/<%= current_user.username %>/profile" style=""><%- helpers.profile_picture(current_user.email, 30) %></a></span>
	<%}%>

	<!-- Handlebars template for search results -->
	<script id="results-template" type="text/x-handlebars-template">
	{{#each results}}
		<div class="single-result">
			<a href="{{url}}">{{text}}</a>
			{{#if alt}}
				<span class="search-alt-text">&nbsp;&ndash;&nbsp; {{alt}}</span>
			{{/if}}
		</div>
	{{/each}}
	</script>

	<!-- TODO: Create Handlebars template for notifications here -->
	<script id="notifications-script">
		var notifications = <%- JSON.stringify(notifications) %>;
	</script>

</div>

<div id="container">
<div id="content">